body, html {
	background-color: black;
	color: white;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 100%;
	-webkit-touch-callout: none;
	-webkit-user-select: none;
	-khtml-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
	font-family: Helvetica, Arial, sans-serif;
	overflow: hidden;
}

#ui {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

#map {
	position: absolute;
	top: 0px;
	left: 0px;
	width: 100%;
	height: 100%;
}

.app {
	position: relative;
	width: 100%;
	height: 100%;
}

.np-graph-container {
	position: absolute;
	bottom: 5px;
	left: 40px;
	width: 800px;
	height: 320px;
	z-index: 100;
}

#np_graph {
	width: 100%;
	height: 100%;
	font-family: Helvetica, Arial, sans-serif;
}

.np-logo {
	position: absolute;
	bottom: 25px;
	right: 90px;
	width: 160px;
	height: 109px;
	background-size: 160px 109px;
	background-image: url("../img/news-pulse-logo.png");
	background-repeat: no-repeat;
	z-index: 90;
}

.np-abc-logo {
	position: absolute;
	bottom: 135px;
	right: 101px;
	width: 140px;
	height: 51px;
	background-size: 140px 51px;
	background-image: url("../img/abc-logo.png");
	background-repeat: no-repeat;
	z-index: 90;
}

#time-display {
	position: absolute;
	height: 90px;
	width: 500px;
	color: #fff;
	bottom: 0px;
	right: 120px;
	z-index: 1;
}

#time-display h2 {
	margin: 5px 0 0 70px ;
}

#time-display #button-pause {
	bottom: 53px;
	left: 0px;
	position: relative;
	width: 48px;
	height: 48px;
	background-size: 48px 128px;
	background-position: 0px 0px;
	background-image: url("../img/play-pause-icon.png");
	cursor: pointer;
}

#time-display #button-pause.np-button-play {
	background-position: 0px -80px;
}

#article-panel {
	z-index: 1;
	right: 20px;
	top: 20px;
	width: 300px;
	position: absolute;
	background-color: rgba(0, 0, 0, 0.5);
	border-radius: 8px;
	cursor: pointer;
}

#article-panel .content {
	color: #fff;
	margin: 30px auto;
	height: 100%;
	width: 80%;
}

#article-panel .thumbnail {
	width: 100%;
	margin: 0;
	border-top-left-radius:; 8px;
	border-top-right-radius: 8px;
}

#article-panel .close {
	position: absolute;
	right: 12px;
	top: 8px;
	text-transform: lowercase;
	font-weight: bold;
	cursor: pointer;
}

#time-line {
	position: absolute;
	width: 3px;
	border-left: 1px solid rgba(128,203,196,0.8);
	border-right: 1px solid rgba(128,203,196,0.8);
	height: 230px;
	bottom: 62px;
	left: 10px;
}
#rally-marker {
	position: absolute;
	bottom: -30px;
	left: 625px;
	width: 200px;
	height: 150px;
	font-size: 12px;
	text-align: center;
	cursor: pointer;
}
#rally-marker .line {
	position: absolute;
	height: 25px;
	width: 1px;
	background-color: white;
	top: -25px;
	left: 75px;
}

body.news-story {
	background-color: #ffffff;
	overflow-y: scroll;
}

#news_story {
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #000000;
	overflow-y: scroll;
}

#news_story .story-container {
	background-color: #212121;
	width: 1032px;
	margin: 40px auto;
}

#news_story .header-container {
	position: relative;
	background-color: #373b3a;
	padding: 30px 40px;
}

.back-link {
	position: absolute;
	top: 30px;
	right: 40px;
}

#news_story .body-container {
	padding: 30px 40px;
}

#news_story .twitter-pic {
	width: 442px;
	height: 293px;
	background-size: 442px 293px;
	background-repeat: no-repeat;
	background-image: url("../img/twitter-pic.png");
	background-position: center center;
	margin-top: 10px;
}

#news_story .graph-thing {
	width: 781px;
	height: 329px;
	background-size: 781px 329px;
	background-repeat: no-repeat;
	background-image: url("../img/graph-thing.png");
	background-position: center center;
}

h3, h4, h5, h6, p {
	margin: 0;
}

h2 {
	color: #80CBC4;
	font-size: 20px;
	line-height: 24px;
	margin-bottom: 20px;
}

h3 {
	color: #80CBC4;
	font-size: 30px;
	line-height: 36px;
	margin-bottom: 20px;
}

h4 {
	color: #618e8a;
	font-size: 20px;
}

h5 {
	color: #bcbcbc;
	margin-bottom: 20px;
}

h6 {
	color: #80CBC4;
	font-size: 18px;
	margin-top: 30px;
	margin-bottom: 10px;
}

p {
	color: #ffffff;
	margin-bottom: 5px;
}

a {
	color: #618e8a;
}

table th {
	color: #618e8a;
	text-align: left;
}

table th, table td {
	padding: 8px 20px 7px 10px;
	background-color: #333333;
	max-width: 670px;
}

.no-padding {
	padding: 0;
	margin: 0;
}